<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
      <editor
            name="Process Editor"
            extensions="pro"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.ProcessEditor"
            id="com.editors.ProcessEditor">
      </editor>
	
	</extension>
   <extension
         point="org.eclipse.ui.views">
 <view id="com.editors.labelview"
             name="Label View"
          class="com.views.LabelView"/>
             </extension>

<extension point = "org.eclipse.compare.contentMergeViewers"> 
     <viewer 
         id="org.eclipse.compare.contentmergeviewer.TextMergeViewer" 
         class="org.eclipse.compare.internal.TextMergeViewerCreator" 
         extensions="pro"
         label="Text Compare" 
    /> 
</extension> 
</plugin>
